.navbar-background{
    background: var(--primary-color);
    border: 1px solid var(--boder-dark--color);
    height: 71.47px;
    width: 100%;
    position: fixed; 
    z-index: 1;

}


section{
    margin-left: 98px;
}

.nav-log {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 24px 18px 0px 0px;
}

.nav-log h1 {
    
    margin:  24px 18px;
    border-top: 4px solid;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--shadow-blue--color);
 
}

.navbar-darkmoon i{
    margin-top: 23px;
     
    margin-bottom:  21px;
    font-size: 25px;
    color: var(--shadow-blue--color);
    cursor: pointer;
}


@media screen and (max-width: 768px) {
 
   .navbar-background{
       height: 180px;
       
   } 

   .nav-log{
    margin-left: -40px;
    margin-top: 30px;
   
    
   }

   .nav-log h1{
       font-size: 70px;
       padding-top: 35px;
       
     
   }

   

   .navbar-darkmoon i {
    font-size: 60px;
    padding-top: 15px;
 
   }

}

/* 
/* @media screen and (max-width: 500px){
    .navbar-background{
        width: 100%;
        height: 250px;
    }

    .navbar-darkmoon i{
        font-size: 90px;
        padding-top: 15px;
    }
   

    .nav-log h1{
        padding-top: 50px;
        font-size: 99px;
        
   }

   .nav-log{
    padding-top: 70px ;
    height: 300px;
    margin-left: -40px;
   }

   .nav-log img{
       width: 100px;
       height: 120px;
   }

}


@media screen and (max-width: 320px){

    .nav-log h1{
        padding-top: 50px;
        font-size: 99px;
        margin-left: 50px;
      
   }
    .showcase-name h1{
        margin-left: -110px;
    }

    .navbar-darkmoon i{
        /* position: absolute;
        left: 220px; */
        /* margin-left: -150px;
    } 

    .nav-log img{
        width: 100px;
        height: 120px;
        margin-left: -150px;
    }

    .showcase-input{
        margin-left: -90px;
    }

    .card{
        margin-left: -50px;
    }

    .footer-wordlens{
      margin-left: -150px;
    }

    .footer-button {
        position: relative;
        right: 120px;
    }

    
    .footerc-flex img{
      position: relative;
      left: -100px;
    }

    .footer-copyRight{
        position: relative;
        right: 120px;
    }

}  